.container {
    max-width: 970px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    padding: 15px;
    position: relative;
}

.col img {
    max-width: 100%;
    width: 100%;
    border: 1px solid black;
}

.header {
    height: 75px;
    background-color: white;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.header-logo {
    position: relative;
    top: 20px;
    width: 50px;
    left: 20px;
    border-right: 1px solid lightgray;
}

.header-sign {
    position: relative;
    left: 80px;
    bottom: 20px;
}

.profile-img {
    position: relative;
    left: 70px;
    top: 40px;
    margin-bottom: 20px;
    width: 150px!important;
    height: 150px!important;
    border-radius: 150px;
}

.profile-name {
    font-size: 32px;
    font-style: normal;
    position: relative;
    right: 160px;
    top: 10px;
}

.profile-data {
    position: relative;
    right: 200px;
    bottom: 15px;
}

.profile-data-text {
    margin-left: 40px
}

.profile-meta {
    position: relative;
    right: 164px;
}

.btn-default {
    border: 1px solid grey;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    opacity: 0.8;
    position: relative;
    bottom: 55px;
    left: 90px;
    background-color: white;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.col:hover .overlay {
    transition: 1s;
    opacity: 1;
}

@media screen and (max-width:500px) {
    .row {
        display: block;
    }
    .col {
        padding: 0;
    }
}