@import url(http://fonts.googleapis.com/css?family=Muli);
body {
    font-family: 'Muli', sans-serif;
    /*overflow: hidden;*/
    margin: 0;
}

.header {
    text-align: center;
    background: url(http://novoetv.kz/wp-content/uploads/2017/02/statya_expo_7.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    font-size: 32px;
}

.headerbg {
    background-color: rgba(0, 0, 0, 0.60);
    padding-bottom: 160px;
}

.header h1,
.header h3,
.lead {
    text-shadow: 3px 3px 3px black;
}

.header h1:hover,
.header h3:hover {
    color: rgb(100, 100, 100);
}

h1,
h3 {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.button {
    border: none;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.btn-home:hover {
    background-color: #555555;
    color: white;
}

.img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.astana {
    display: block;
}

.section1 {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: #161616;
    display: block;
}

.section2 {
    padding-top: 50px;
    display: block;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #161616;
}

.feedback {
    position: relative;
    top: 100px;
}

.feedback-card {
    float: left;
    max-width: 200px;
    text-align: center;
    margin-right: 120px;
}

.feedback-card_ava {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50px;
}

.footer {
    background: #181818;
    position: relative;
    top: 500px;
    padding: 10px;
}

.logofooter {
    width: 50px;
    margin-left: -570px;
}